<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/resources/css/{{controller}}/index.css">
    </head>

    <body>
        <a href="/logout">logout</a>
        <div id="container"></div>

        <script src="/resources/{{controller}}/bundle.min.js"></script>
    </body>
</html>